<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^([a-zA-Z0-9_-]+)$ urlUser.php?userUrlId=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ urlUser.php?userUrlId=$1



</IfModule>

